---
import FormattedDate from "../../components/FormattedDate.astro"
import { postTagsList, eachTag } from "../../utils/tags.reducer";
import { getBlogPosts } from "../../utils/get-posts";
import { getBlogParams } from "../../utils/post-params";
import Layout from "../../layouts/Layout.astro"
import PostList from "../../components/PostList.astro";

const isDevMode = Astro.url.hostname.includes('localhost');
export async function getStaticPaths({ paginate }) {
  const posts = await getBlogPosts(false);
  const tags = await postTagsList(false);
  return eachTag(
    tags,
    (tag: string, count: number) => ({
      params: { tag, count },
      props: {
        posts: posts.filter(({data}) => !!data.tags?.map((tag) => tag.toLowerCase()).includes(tag)),
      },
    }),
  );
}

const { tag, count } = Astro.params;
const { posts = [] } = Astro.props;
---

<Layout title={`Posts tagged with "${tag}"`}>
  <h3>Posts tagged with "{tag}"</h3>
  <ul>
    {posts.map((post) => { 
      const {path} = getBlogParams(post);
      return (<li>
        <a href={`/blog/${path}`}>{post.data.title}</a>
        <span class="meta-data"><FormattedDate date={post.data.udatedDate ?? post.data.date}></span>
      </li>);
    })}
  </ul>
</Layout>
