---
import { settings } from "../data/settings";
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import { Image } from "astro:assets";
import avatar from "../assets/images/ssr-sawyer-avatar.png"

const seo = {
  title: `About Me`,
  description: settings.description,
};
---

<Layout seo={seo} showSearch={false}>
  <h1 class="page-title">About Me</h1>
  <!-- <figure> -->
  <!--   <Image src={avatar.src} width={400} alt="Alt" /> -->
  <!-- </figure> -->
  <AboutMe intro={true} extended={true} avatar={false} label={false} />
  <p>Check out my <a href="/cv" rel="me">Résumé</a>.</p>
</Layout>
