---
import Layout from "../layouts/Layout.astro";
import Search from "../components/SiteSearch.astro";

const simpleSampleList = new Array(3).fill(0);
---

<Layout title="Layout sandbox" showSearch={false} searchable={false}>
  <h1>Layout testing</h1>
  <p>Layout testing</p>

  <section id="typography">
    <!-- <h2>Typography</h2> -->
    {new Array(6).fill(0).map((unused, ii) => {
      const tagNumber = ii + 1;
      const Htag = `h${tagNumber}`;

      return (
        <Fragment>
          <!-- <Htag>Heading {tagNumber}</Htag> -->
          <Htag>
            Heading {tagNumber}
            <small>Subheading of h{tagNumber}</small>
          </Htag>
        </Fragment>
      )
    })}

    <h2>Lists</h2>
    {['ol', 'ul'].map((tag) => {
      const Tag = tag;
      const lis = simpleSampleList.map((unused, ii) => (<li>{ii + 1} At vero eos et accusamus et iusto odio dignissimos.</li>));
      return (<Fragment>
        <h3>{tag === 'ul' ? 'Unordered' : 'Ordered'} list</h3>
        <Tag>
          <Fragment set:html={lis} />
          <li>
            Nested list
            <Tag>
              <Fragment set:html={lis} />
            </Tag>
          </li>
        </Tag>
      </Fragment>)
    })}

    <h3>Definition list</h3>
    <dl>
      {simpleSampleList.map((unused, ii) => (<Fragment>
        <dt>Term {ii + 1}</dt>
        <dd>Definition {ii + 1}</dd>
      </Fragment>))}
    </dl>
    
    <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit
      voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
      ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      aspernatur aut odit aut fugit</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <strong>strong
      tag</strong>, sed do eiusmod <em>em(phasis) tag</em>tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation <kbd>kbd tag</kbd> ullamco laboris nisi ut aliquip ex ea
      <mark>mark tag</mark> commodo consequat. Duis <code>code tag</code> aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur.</p> </section>


  <aside slot="sidebar">
    <h4>Sidebar</h4>
    <Search />
  </aside>

</Layout>

