---
import Pic from './Pic.astro';
import { ABOUT_ME, ABOUT_ME_EXTENDED } from '@data/about';
import Timeline from './Timeline.astro';
import NavLinks from './NavLinks.astro';
import Highlight from './Highlight.astro';
import Link from './HeaderLink.astro';
import { settings } from '@data/settings';
import GpgKey from './GpgKey.astro';
import {imageUrl} from "@utils/image-url";
import { careerHighlighter } from '@utils/career-highlighter';

interface Props {
  brief?: boolean;
  compact?: boolean;
  showPhoto?: boolean;
  showTitle?: boolean;
}

const {brief = true, showPhoto = true, compact = false, showTitle = true} = Astro.props;

let intro = ABOUT_ME;

intro = careerHighlighter(compact ? `${intro.slice(0, 200)}&hellip;` : intro, 'im');

const avatarSize = compact ? 320 : 640;
const avatar = settings.authorImage && await imageUrl(settings.authorImage, {width: avatarSize, height: avatarSize});
---

<div class:list={[`about-me-wrapper h-card`, {layout__compact: compact}]}>
  <input type="hidden" name="Author-name" value={settings.owner} class="p-name" />
  <input type="hidden" name="Author-url" value={settings.site} class="u-url" />
  <figure class:list={['photo-container', {compact, brief}]}>
    {showPhoto
      ? <Pic src={avatar} width={avatarSize} class="u-photo" alt={`Photo of ${settings.owner}, this website's owner.`} />
      : void 0
    }
    <figcaption>
      {!compact && showTitle ? (
        <h3><Highlight set:html="A bit about me &hellip;" nth={4} /></h3>
      ) : undefined}

      <Fragment set:html={intro} />
      {brief && (
        <Link href="/about" class="read-more u-url">Read more</Link>
      )}
    </figcaption>
  </figure>

  {!brief && (
    <Fragment set:html={careerHighlighter(ABOUT_ME_EXTENDED, 'im')} />
    <p>Or check out my <Link href="/cv">Résumé</Link>.</p>
    <details>
      <summary>More details&hellip;</summary>

      <h3><Highlight set:text="Slash pages" nth={1} /></h3>
      <NavLinks inline={true} slashes={true} />

      <!-- <h3><Highlight set:text="Life milestones" nth={2} /></h3>
      <Timeline showTitle={false} milestones={true} duration={true} location={false} fancy={false} /> -->
    </details>
    <GpgKey qr={true} />
  )}
</div>

<style>
.about-me-wrapper {
  container: about-me / inline-size;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: flex-start;

  img {
    aspect-ratio: 1;
  }

  @container about-me (width > 30rem) {
    &:not(.compact) {
      flex-direction: row;
      gap: var(--space-2xl);

      img {
        margin-block-end: var(--space-m);
        max-width: 20rem;
        /* max-height: 40rem; */
      }
    }

    figcaption {
      > :first-child {
        margin-top: unset;
      }
    }
  }
}
</style>

<style is:global>
  .about-me-wrapper figcaption p {
    font-size: var(--font-size__lead);
  }
</style>
