---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { ABOUT_ME, ABOUT_ME_EXTENDED } from "../data/about";
import {settings} from "../data/settings";
import authorImg from "../assets/images/ssr-sawyer-avatar.png";
import SocialLinks from "./SocialLinks.svelte";

interface Props {
  avatar?: boolean;
  position?: "start" | "end";
  label?: boolean;
  intro?: boolean;
  extended?: boolean;
  asEntryAuthor?: boolean;
  readmore?: boolean;
}

const {
  avatar = true,
  position = "start",
  label = true,
  intro = false,
  extended = false,
  readmore = false,
  asEntryAuthor = false,
} = Astro.props;
---

<div
  class:list={["about-me vcard h-card", avatar ? "has-avatar" : "no-avatar", {"p-author": asEntryAuthor}]}
>
  {
    label && (
      <header>
        <h4 class="p-name p-org">{settings.owner}</h4>
      </header>
    )
  }
  <div class:list={["aboutme-wrapper", `avatar-at-${position}`]}>
    {
      avatar && (
        <div class="avatar u-logo">
          {/* <Icon name={LOGO_ICON} size={100} aria-hidden="true" />  */}
          <img
            src={authorImg.src}
            width={authorImg.width}
            alt="Photo of this site's owner sitting in a car with a Goldendoodle dog on his lap looking out the driver's side window"
          />
        </div>
      )
    }
    <div class="summary">
      <p class:list={["p-note", {"intro lead": intro}]} set:html={ABOUT_ME}></p>
      {!extended && readmore && <p><a href="/about">Read more&hellip;</a></p>}
      {extended && <p set:html={ABOUT_ME_EXTENDED.split(/[\r\n]+/gm).join('</p><p>')}></p>}
      <a href={Astro.url.href.replace(Astro.url.origin, '')} class="sr-only u-url u-uid" rel="me">{settings.owner}</a>
      <SocialLinks hidden={true} homepage={true} pdf={false} />
    </div>
  </div>
</div>

<style>
  @import "open-props/media";
  @import "open-props/radius";

  .about-me.h-card {
    --avatar-diameter: calc(var(--space-2xl) * 3);

    container: aboutme / inline-size;

    svg {
      aspect-ratio: 1;
      min-width: 100px;
    }

    .avatar {
      img {
        aspect-ratio: var(--aspect-ratio-square);
        border-radius: var(--radius-round);
        width: var(--avatar-diameter);
        border: 1px solid;
        padding: 2%;
      }
    }

    p.p-note {
      margin-block-start: 0;
    }

    .aboutme-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--grid-gutter);

      @container aboutme (width > 480px) {
        --avatar-diameter: calc(var(--space-2xl) * 2);

        flex-direction: row;
        justify-content: flex-start;
        align-items: top;

        &.avatar-at-end {
          flex-direction: row-reverse;
        }

        .avatar {
          margin: 0;
        }
      }
    }
  }
</style>
