---
import { social } from "../data/settings";

const { url: cpUrl } = social.find(({name}) => name === "Codepen") ?? {};
const {
  id,
  title,
  url = cpUrl,
  tabs = "js,result",
  theme,
  // height = 480,
  clickToRun = true,
} = Astro.props;
const {
  groups: { username },
} = (url as string).match(/codepen\.io\/(?<username>[\w]+)/);
const src = `https://codepen.io/${username}/embed/${
  clickToRun ? 'preview/' : ''}${id}?default-tab=${encodeURIComponent(tabs)}&theme-id=${theme}`;
const penUrl = `https://codepen.io/${username}/pen/${id}`;
---

{id && (
  <figure class="codepen-frame">
    <iframe
      scrolling="no"
      {title}
      {src}
      style={`width:100%; aspect-ratio:16/9`}
      frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
      <a href={penUrl}>See the pen by @{username}</a>
    </iframe>
    <figcaption>
      <a href={penUrl} target="_blank" rel="me noreferrer">
        See the pen by @{username}
      </a>
    </figcaption>
  </figure>
)}
