---
import Search from "astro-pagefind/components/Search";
import {settings} from '@data/settings';
import SocialLinks from './SocialLinks.astro';
import NavLinks from './NavLinks.astro';
import Highlight from './Highlight.astro';
import Link from './HeaderLink.astro';

interface Props {
	title?: string;
	tagline?: string;
	description?: string;
	level?: number;
	background?: string;
}
---

<nav id="site-nav" class="wrapper stick-to-top">
  <div class="inner-content">
    <h2><a href="/">{settings.title}</a></h2>
    <NavLinks />

    <!-- <Search className="pagefind-ui" id="main-search" /> -->

    <!-- Social links -->
    <SocialLinks primary={true} />
    <sl-icon-button id="nav-trigger" name="list" label="Navigation"
    ></sl-icon-button>
  </div>
</nav>

<sl-drawer
  id="nav-drawer"
  hidden
  style="--sl-panel-background-color: var(--paper);"
>
  <h2 class="fancy" slot="label">
    <Link href="/" style="all: unset;">{settings.title}</Link>
  </h2>

  <h4><Highlight set:text="Site Nav" /></h4>
  <NavLinks inline={false} />

  <h4><Highlight set:text="Slash Pages" nth={1} /></h4>
  <NavLinks inline={false} slashes={true} />

  <h4><Highlight set:text="Find me on" nth={1} /></h4>
  <SocialLinks primary={true} />
</sl-drawer>

<script>
  const mobileNavTrigger: any = document.querySelector('#nav-trigger');
  const mobileNavDrawer: any = document.querySelector('#nav-drawer');

  mobileNavTrigger?.addEventListener('click', (ev) => {
    mobileNavDrawer.setAttribute('hidden', false);
    mobileNavDrawer.open = !mobileNavDrawer.open;
  });

  mobileNavDrawer.addEventListener('sl-after-show', () => {
    mobileNavTrigger.setAttribute('aria-expanded', 'true');
  });

  mobileNavDrawer.addEventListener('sl-after-hide', () => {
    mobileNavTrigger.setAttribute('aria-expanded', 'false');
  });
</script>

<style>
  #site-nav {
    --__fg-color: var(--color__content--contrast);
    --__bg-color: transparent;
    --__border-color: white;
    --sticky-header__start-bg: transparent;
    --sticky-header__end-bg: var(--paper);
    --enter: calc(var(--nav-height) * 0.618);
    /* --exit: calc(var(--hero-height) * 0.5); */

    position: relative;
    border-block-end: 1px solid hsl(from var(--__border-color) h s l / 15%);
    background-color: var(--__bg-color);
    color: var(--__fg-color);
    font-size: var(--step--1);
    height: var(--nav-height);
    position: sticky;
    top: 0;
    z-index: var(--layer-3);

    /* &, */
    &::after {
      transition: background-color 0.4s var(--ease-out-4);
    }

    &::after {
      content: '';
      background-color: var(--__bg-color);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      background-color: transparent;
    }

    * {
      color: inherit;
    }
  }
  h2 {
    margin: 0;
    font-size: var(--step-0);
    text-transform: lowercase;

    a {
      &::after {
        content: '.';
      }

      &.active {
        text-decoration: none;
      }
    }
  }

  #nav-trigger {
    font-size: var(--step-2);

    @container nav (width >= 48rem) {
      display: none;
    }
  }

  #nav-drawer {
    @container nav (width > 48rem) {
      display: none !important;
    }
  }

  .inner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    a {
      display: block;
      text-decoration: none;
    }

    .social-links,
    .social-links a {
      display: flex;
    }

    svg {
      aspect-ratio: 1;
      height: 1.5em;
    }
  }
</style>

<style is:global>
  #site-nav {
    .internal-links {
      height: 100%;
      display: none;
      gap: var(--space-xs-s);
      align-items: center;
      justify-content: space-evenly;

      @container nav (width >= 48rem) {
        display: flex;
      }

      a {
        --__bar-height: 0.4ch;
        --__indicator-color: var(--accent-1);

        padding: 0 0.6ch;
        height: 100%;
        line-height: var(--nav-height);
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.2ch;
        font-size: var(--step--2);
        font-weight: var(--weight-normal);
        opacity: 0.8;
        transition: opacity 0.3s var(--ease-1);
        color: inherit;

        &::after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 100%;
          height: var(--__bar-height);
          background-color: var(--__indicator-color);
          transition: all 0.3s var(--ease-out-4);
        }

        &:is(:hover, .active)::after {
          right: 0;
        }

        &:is(.active, :hover, :active) {
          text-decoration: none;
          right: 0;
          opacity: 1;
          font-weight: var(--weight-semibold);

          &::before {
            content: none;
          }

          &:is(.active:hover) {
            --__indicator-color: var(--accent-2);
            --__bar-height: 0.618ch;
          }
        }
      }

      a[href] {
        text-transform: uppercase;
      }
    }

    .social-links a {
      color: inherit;
    }

    @container nav (width < 48rem) {
      .social-links {
        display: none;
      }
    }
  }
</style>
