---
import Card from './Card.astro';
const { src, label, inline = true } = Astro.props;
const url = new URL(src);
const {origin: domain, host} = url;
const [noop, username, tootId] = url.pathname.split('/');

const request = await fetch(`${domain}/api/v1/statuses/${tootId}`);
const {card} = await request.json();
const fullUsername = `@${card.author_name}@${host}`;
const title = `"${card.title}" by @${card.author_name}`;
// console.log(card)
---
{!inline && (
  <div class="toot-preview">
    <Card
      url={src}
      media={card.image}
    >
      <h6 slot="card_title">{ card.title }</h6>
      {card.description}
    </Card>
  </div>
)}
{inline && <a href={src} target="_blank" rel="noreferrer" set:html={label}></a>}

<style is:global>
.toot-preview {
  .card__media img {
    aspect-ratio: unset !important;
  }
}
</style>
