---
import { getCollection, type CollectionEntry } from "astro:content";
import Card from "./Card.astro";
import FormattedDate from "./FormattedDate.astro";
import TagsList from "./TagsList.astro"

type Props = {
  // page: Page<CollectionEntry<"blog">>[];
  page?: any;
  limit?: number;
  includeDrafts?: boolean;
  cards?: boolean;
};

const { includeDrafts = false, limit, cards = false, page } = Astro.props;
const blogPostPages = (page?.data?.map(({props: {entry}}) => entry) ?? (
  await getCollection("blog", ({ data: { draft } }) => includeDrafts || !draft)
)).sort((a, b) => (b.data.date < a.data.date ? -1 : 1))
const blogPosts = !limit ? blogPostPages : blogPostPages.slice(0, limit);
---

<div class:list={[`post-list`, {"card-layout": cards}]}>
  {
    blogPostPages?.length === 0 && (
      <p>No posts yet. Check back soon!</p>
    )
  }
  <!-- {blogPostPages.length > limit && (<h6>Showing x of {blogPostPages.length}</h6>)} -->
  {blogPosts?.length && (<ul>
    {blogPosts.map(({data: {hero, heroDescription, date, updatedDate, description, title, tags = []}, slug}) => {
      const url = `/blog/${slug}`;
      return !cards
        ? (<li><a href={url}>{title}</a> <FormattedDate date={updatedDate || date} /></li>)
        : (<li>
          <Card url={url} media={hero} mediaDescription={heroDescription}>
            <h5 slot="card_title">{title}</h5>
            <div class="metadata">
              <FormattedDate date={updatedDate || date} />
              <TagsList {tags} />
            </div>
            <p class="post-description">{description}</p>
          </Card>
        </li>)
    })}
  </ul>)}
  {blogPostPages.length > limit && <a href="/blog/1">See more &raquo;</a> }
</div>

<style>
  @import "open-props/media";

  .card-layout ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: var(--grid-gutter);
    list-style: none;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }
</style>
