---
import { getCollection, type CollectionEntry } from "astro:content";
import {Image} from "astro:assets";
import Card from "./Card.astro";
import FormattedDate from "./FormattedDate.astro";
import TagsList from "./TagsList.astro"
import { getBlogParams } from "../utils/post-params";
import { getBlogPosts } from "../utils/get-posts";

type Props = {
  // page: Page<CollectionEntry<"blog">>[];
  page?: any;
  limit?: number;
  includeDrafts?: boolean;
  cards?: boolean;
};

const { includeDrafts = false, limit, cards = false, page } = Astro.props;
const blogPostPages = page?.data?.map(({props: {entry}}) => entry) ?? (await getBlogPosts(includeDrafts));
const blogPosts = !limit ? blogPostPages : blogPostPages.slice(0, limit);

const HeadingTag = 'h6';
---

<div class:list={[`post-list`, {"card-layout": cards}]}>
  {
    blogPostPages?.length < 1 && (
      <p>No posts yet. Check back soon!</p>
    )
  }
  <!-- {blogPostPages.length > limit && (<h6>Showing x of {blogPostPages.length}</h6>)} -->
  {blogPosts?.length && (<ul>
    {blogPosts.map((post) => {
      const {data: {hero, heroDescription = "", date, updatedDate, description, title, tags = [], draft = false}} = post;
      const {path} = getBlogParams(post);
      const url = `/blog/${path}`;
      return !cards
        ? (<li><a href={url}>{title}</a> <FormattedDate aria-label="Post updated date" date={updatedDate || date} /></li>)
        : (<li>
          <sl-card class:list={[{'draft-post': draft}]}>
            {hero && (<a href={url} slot="image">
              <img src={hero} alt={heroDescription} />
            </a>)}
            <HeadingTag class="card-title">
              <a href={url} set:html={title}></a>
            </HeadingTa>
            <aside class="metadata">
              <FormattedDate date={updatedDate || date} />
              <TagsList {tags} />
            </aside>
            {description && <p set:html={description}></p>}
            <a href={url}>Read more...</a>
          </sl-card>
        </li>)
    })}
  </ul>)}
  {blogPostPages.length > limit && <a href="/blog/1">See more &raquo;</a> }
</div>

<style>
  @import "open-props/media";

  .card-layout ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: var(--grid-gutter);
    list-style: none;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }

  sl-card {
    &.draft-post * {
      color: crimson;
    }
  }

  img {
    aspect-ratio: 4/3;
    width: 100%;
  }
  .card-title {
    margin-block-start: 0;
  }
</style>
