---
import { settings, social } from "../data/settings";
import { Icon } from "astro-icon/components";
---

<ul class="noList social">
  {
    social.map((item) => (
      <li>
        <a
          class="social__link"
          href={item.url}
          target="_blank"
          title={item.name}
          rel="me noreferrer"
        >
          <span hidden="from-humans">
            {settings.title} on {item.name}
          </span>
          <Icon class="social__icon" name={item.icon} title={item.name} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .social {
    padding: 0;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  a {
    display: block;
    transition: all 0.2s var(--ease-3);
    font-size: var(--step-0);
    padding: 0.5em;
    background-color: var(--link);
    border-radius: 50%;
    color: white;

    &:hover {
      color: white;
      background-color: var(--link-hover);
      transform-origin: 50% 50%;
      transform: scale(1.25);
    }

    &:focus {
      color: white;
      outline-color: var(--link);
    }

    svg {
      display: block;
      width: 1em;
      height: 1em;
    }
  }

  @media print {
    :where(ul.social) {
      /* display: block !important; */
      all: unset !important;
      list-style: none !important;

      svg {
        position: relative !important;
        font-size: 1.1em !important;
        display: inline-block !important;
        margin-inline-end: 0.5ch;
        bottom: -0.2em;
        /* opacity: 0.8; */
        color: var(--brand-shade);

        &[data-icon*="mail"],
        &[data-icon*="home"] {
          font-size: 1.3em !important;
        }
      }
      a {
        all: unset !important;

        &::after {
          content: attr(href);
        }
        &[href*="/contact"]::after {
          content: attr(title);
        }
      }
      li {
        display: inline-block !important;
        width: 50% !important;
      }
    }
  }
</style>
