---
import { settings, social } from "../data/settings";
import { Icon } from "astro-icon/components";
---

<ul class="noList social">
  {
    social.map((item) => (
      <li>
        <a
          class="social__link"
          href={item.url}
          target="_blank"
          title={item.name}
          rel="me noreferrer"
        >
          <span class="sr-only">
            {settings.title} on {item.name}
          </span>
          <Icon class="social__icon" name={item.icon} title={item.name} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .social {
    padding: 0;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 0.75ch;
  }

  a {
    display: block;
    width: var(--step-0);
    aspect-ratio: 1;
    transition: all 0.2s ease-in-out;
    padding: 0.5em;
    background-color: var(--link);
    border-radius: 50%;
    color: var(--white);
    color: white;

    &:hover {
      color: white;
      background-color: var(--link-hover);
    }

    &:focus {
      color: var(--white);
      outline-color: var(--link);
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      color: var(--white);
      fill: var(--white);
    }
  }

  li:has([href*="Xspencerrhodes.dev"]) {
    display: none;
  }

  @media print {
        :where(ul.social) {
      /* display: block !important; */
      all: unset !important;
      list-style: none !important;

      svg {
        position: relative !important;
        width: 1.1em !important;
        /* height: 1em !important; */
        display: inline-block !important;
        margin-inline-end: 0.5ch;
        bottom: -0.2em;

        &[data-icon*="home"] {
          width: 1.2em !important;
        }
      }
      a {
        all: unset !important;

        &::before {
          /* content: attr(title); */
        }
        &::after {
          content: attr(href);
        }
      }
      li {
        display: inline-block !important;
        width: 50% !important;
      }
      li:has([href*="/contact"]) {
        display: none !important;
      }
    }
  }
</style>
