---
import { settings, social } from "../data/settings";
import { Icon } from "astro-icon/components";
---

<ul class="noList social">
  {
    social.map((item) => (
      <li>
        <a
          class="social__link"
          href={item.url}
          target="_blank"
          title={item.name}
          rel="me noreferrer"
        >
          <span class="sr-only">
            {settings.title} on {item.name}
          </span>
          <Icon class="social__icon" name={item.icon} title={item.name} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .social {
    padding: 0;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 0.75ch;
  }

  a {
    display: block;
    width: var(--step-0);
    aspect-ratio: 1;
    transition: all 0.2s ease-in-out;
    padding: 0.5em;
    background-color: var(--link);
    border-radius: 50%;
    color: var(--white);
    color: white;

    &:hover {
      color: white;
      background-color: var(--link-hover);
    }

    &:focus {
      color: var(--white);
      outline-color: var(--link);
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      color: var(--white);
      fill: var(--white);
    }
  }
</style>
