---
import { menu, settings, social } from "../data/settings";
import Footer from "../components/Footer.astro";
import NavLink from "../components/NavLink.astro";
import { ViewTransitions } from 'astro:transitions';
import { SEO } from "astro-seo";
import { getImage } from "astro:assets";
import PrimaryNav from "../components/PrimaryNav.astro";
import SiteSearch from "../components/SiteSearch.astro";
import avatar from "../assets/images/ssr-sawyer-avatar.png";

// Supports weights 100-900
import '@fontsource-variable/noto-sans-display';
import '@shoelace-style/shoelace/dist/themes/light.css';
import '@shoelace-style/shoelace/dist/themes/dark.css';
import "../styles/styles.css";

const {
  seo,
  title = seo?.title ?? settings.title,
  description = seo?.description ?? settings.description,
  level = "secondary",
  shareable = false,
  searchable = true,
  showSearch = true,
} = Astro.props;
const webmentionBaseUrl = `https://webmention.io/${settings.domain}`;
const {pathname} = Astro.url;
const XfnHead = pathname.startsWith('/links') ? "http://gmpg.org/xfn/11" : null;
---

<!DOCTYPE html>
<html lang="en">

<head profile={XfnHead}>
  <SEO
    {title}
    {description}
    charset="UTF-8"
    titleTemplate={title === settings.title ? title : `%s – ${settings.title}`}
    canonical={settings.site}
    extend={{
      meta: [
        { name: "robots", content: "index, nofollow" },
        { name: 'generator', content: Astro.generator },
        { name: 'viewport', content: "width=device-width, initial-scale=1.0" },
      ],
      link: [
        shareable ? { rel: "share-url", href: `https://shareopenly.org/share/?url=${settings.site}${pathname}&text=${title}` } : {},
        { rel: 'webmention', href: `${webmentionBaseUrl}/webmention` },
        { rel: 'pingback', href: `${webmentionBaseUrl}/xmlrpc` },
        ...social.filter(({icon, name, url}) => !/\.pdf|\/contact|rss/i.test(url)).map(({url}) => ({ rel: "me", href: url })),
      ],
    }}
    openGraph={{
      basic: {
        title,
        type: "website",
        image: (await getImage({src: avatar, format: "png"})).src,
        url: Astro.request.url,
      },
      optional: {
        description,
        locale: "en_US",
      },
      article: seo?.openGraph?.article,
    }}
  />
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
  <ViewTransitions />
  <script>
    import "@shoelace-style/shoelace/dist/shoelace.js";
    import { setBasePath } from '@shoelace-style/shoelace/dist/utilities/base-path.js';

    setBasePath("/shoelace/dist/");
  </script>
</head>

<body class:list={[`level-${level}`, {'with-sidebar': Astro.slots.has('sidebar')}]} id="top">
  <div class="progress screen-only" role="presentation"></div>
  <sl-tooltip content="Jump directly to main content" class="screen-only">
    <sl-icon-button
      href="#content"
      name="arrow-down"
      class="focus-only"
      id="jump-to-content"
      label="Jump directly to main content"
    ></sl-icon-button>
  </sl-tooltip
  <sl-tooltip content="Back to Top" class="screen-only">
    <sl-icon-button label="Back to top" name="arrow-up screen-only" href="#top" id="back-to-top"></sl-icon-button>
  </sl-tooltip>

  <header id="site-header" style={`--hero-url:url("${settings.hero}")`}>
    <div class="u-container">
      <h4 class="site-title">
        <a href="/" rel="me">{ settings.title }</a>
        { settings.description && <small>{ settings.description }</small> }
      </h4>
      <PrimaryNav />
    </div>
  </header>

  {showSearch && <SiteSearch />}

  <main id="content" data-pagefind-body={searchable || void 0}>
    <div class="u-container">
      <slot />

      <slot name="sidebar" />
    </div>
  </main>

  <Footer />

  <script src="../assets/scripts/web-mentions.js"></script>
  <script src="../assets/scripts/scripts.js"></script>
  <script src="/pagefind/pagefind-ui.js" is:inline></script>
</body>

</html>
