---
import { menu, settings, social } from "../data/settings";
import Footer from "../components/Footer.astro";
import NavLink from "../components/NavLink.astro";
import { ViewTransitions } from 'astro:transitions';
import { SEO } from "astro-seo";
import { getImage } from "astro:assets";
import avatar from "../assets/images/ssr-sawyer-avatar.png";

// Supports weights 100-900
import '@fontsource-variable/noto-sans-display';
import "../styles/styles.css";

const {
  seo,
  title = seo?.title ?? settings.title,
  description = seo?.description ?? settings.description,
  level = "secondary",
} = Astro.props;
const webmentionBaseUrl = `https://webmention.io/${settings.domain}`;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <SEO
    {title}
    {description}
    charset="UTF-8"
    titleTemplate={title === settings.title ? title : `%s – ${settings.title}`}
    canonical={settings.site}
    extend={{
      meta: [
        { name: "robots", content: "index, nofollow" },
        { name: 'generator', content: Astro.generator },
        { name: 'viewport', content: "width=device-width, initial-scale=1.0" },
      ],
      link: [
        { rel: 'webmention', href: `${webmentionBaseUrl}/webmention` },
        { rel: 'pingback', href: `${webmentionBaseUrl}/xmlrpc` },
        ...social.filter(({icon, name, url}) => !/\.pdf|\/contact/i.test(url)).map(({url}) => ({ rel: "me", href: url })),
      ],
    }}
    openGraph={{
      basic: {
        title,
        type: "website",
        image: (await getImage({src: avatar, format: "png"})).src,
        url: Astro.request.url,
      },
      optional: {
        description,
        locale: "en_US",
      },
      article: seo?.openGraph?.article,
    }}
  />
  <ViewTransitions />
</head>

<body class:list={[`level-${level}`]}>
  <header id="site-header" style={`--hero-url:url("${settings.hero}")`}>
    <div class="u-container">
      <h4 class="site-title">
        <a href="/" rel="me">{ settings.title }</a>
        { settings.description && <small>{ settings.description }</small> }
      </h4>
      <nav id="primary-nav">
        <ul>
          {menu.map(({name, link}) => (
            <li>
              {/* <a href={link}>{name}</a> */}
              <NavLink href={link}>{name}</NavLink>
            </li>
          ))}
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="u-container">
      <slot />
    </div>
  </main>
  <Footer />
  <script src="../assets/scripts/web-mentions.js"></script>
</body>

</html>
