---
import { formatDate } from "../utils/helpers";
import Layout from "./Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import TagsList from "../components/TagsList.astro";
import { unsplashCredit, unsplashUrl } from "../utils/unsplash.utils";
import { Image } from "@unpic/astro";
import { settings } from "../data/settings.ts";

const { frontmatter } = Astro.props;
const { draft, unsplashId, heroDescription, title, description, tags, date, updatedDate } = frontmatter;
let {hero} = frontmatter;

// hero = null;

// const hero = unsplashUrl(unsplashId);
const heroCredit = unsplashCredit(unsplashId);

const seo = {
  title,
  description,
  image: hero,
  openGraph: {
    article: {
      modifiedTime: updatedDate || date,
      publishedTime: date,
      authors: [ settings.title ],
      tags,
    },
  },
};
const featuredImageDims = [1024, 768];
---

<Layout seo={seo} {unsplashId} level="secondary">
  <article class:list={['h-entry', {'draft-post': draft}]}>
    <header class="post-header">
      <h1 class="p-name post-header__title">{frontmatter.title}</h1>
      <div class="post-header__meta">
        <time datetime={frontmatter.date} class="dt-updated dt-published post-header__date">
          {formatDate(frontmatter.date)}
        </time>
        <TagsList {tags} />
      </div>
    </header>
    <div class="e-content">
    {
      hero && (
        <figure class="featured-image">
          {/* <img src={hero} alt={heroDescription} /> */}
          <Image
            src={hero}
            alt={heroDescription}
            width={featuredImageDims[0]}
            height={featuredImageDims[1]}
            class="u-featured"
          />
          {heroCredit && (
            <figcaption>
              <a href={heroCredit} target="_blank" rel="noreferrer">
                <small>Image credit</small>
              </a>
            </figcaption>
          )}
        </figure>
      )
    }
      <slot />
    </div>

    <h5>About the author</h5>
    <AboutMe label={false} />
  </article>
  <h5>Webmentions</h5>
  <web-mentions domain={settings.site} showTitle={false}></web-mentions>
</Layout>

<style>
  .featured-image {
    grid-column: 1 / -1;
    position: relative;
    margin-top: var(--space-2xs);
    clip-path: var(--angle-clip-path-top);
    text-align: center;
    margin-bottom: var(--space-l);

    img {
      width: 100%;
      max-width: 1000px;
      margin-inline: auto;
      margin-bottom: 0;
    }
  }

  .post-header__title {
    margin: var(--space-s) auto var(--space-2xs);
    text-align: center;
  }

  .post-header__meta {
    text-align: center;
    color: lighten(black, 50%);
    font-weight: var(--weight-3);
    font-size: var(--step--1);
  }

  .post-header {
    margin-bottom: var(--space-m);
    text-align: center;
  }

  .tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5ch;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* font-size: 1rem; */
  }
</style>
